

body{
  font-size: 2.5vh;
  color: white;
  background-size: cover;
  background-image: url(../img/fondo1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#img-logo{
  padding-top: 8%;
  padding-bottom: 2%;
  width: 100%;
}
#color-logo{
  padding-top: 5px;
  color: white;
}
#color-slogan{
  padding-right: 2.5px;
  padding-left: 2.5px;
  padding-top: 0.4vh;
  background-color: brown;
  color: white;
  border: 1px solid white;
}
#boton{
  background-image: url(../img/iconos/svg/loupe.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(157, 27, 27);
}
#buscador{
  padding: 1.5vh;
}
#color{
  background-color: rgb(175,108,33,0.875);
}
#color1{
  background-color: rgb(238,171,54,0.64);
}
#color2{
  margin-left: 2.5vh!important;
  margin: 2vh;
  background-color: rgba(228,171,52, 0.4);
}
.logo{
  margin-left: 4vh;
}
.recetas{
  margin: 2vh;
}
#img{
  width: 100%;
}
#img-fav{
  padding-top: 1vh;
}
#color3{
  color: rgba(157, 27, 27);
}
#nav{
  background-color: #9D1B1B;
  margin-bottom: 3vh;
  color: white;
}
.color-nav{
  font-size: 3.5vh;
}
.color-nav1{
  background-color: rgb(214,128,31,0.50);
  font-size: 2.5vh;
}
.color-nav1 p{
  font-size: 3.5vh;
}
ul li a{
  color: white;
}
.titulo{
  padding-top: 1vh;
  color: white;
  font-size: 5vh;
}
.but{
  margin-left: 7vh;
  padding: 1vh;
  background-color: rgba(157, 27, 27);
}
.linea{
  padding-bottom: 2vh;
  border-bottom: 1px solid rgba(157, 27, 27);
}
.linea1{
  margin-bottom: 4vh;
  padding-bottom: 2vh;
  border-bottom: 2px solid rgba(157, 27, 27);
}
.coment{
  margin-bottom: 1vh;
  color: rgba(157, 27, 27);
}
.coment1{
  margin-top: 2vh;
  margin-bottom: 1vh;
  color: rgba(157, 27, 27);
}
.img1{
  width: 100%;
  padding-bottom: 3vh;
  border-bottom: 1px solid rgba(157, 27, 27);
}
.publicar{
  padding-left: 2vh;
}
@media (max-width: 1030px) {
  .logo{
    margin-left: 0!important;
  }
  .recetas{
    margin: 0;
  }
  #color2{
    margin: 0!important;
  }
  .but{
    margin-left: 9.6vh;
  }
}
@media (max-width: 800px) {
  .but{
    margin-left: 5vh;
  }
}
@media (max-width: 420px) {

}
