/* el color negro del fondo */
body{
  background-color: black;
}
/* color blanco del fondo del contenido */
#contenido{
  padding-top: 1vh;
  background-color: white;
}
/* ina imagen de fondo donde se encuntra el logo y las redes sociales */
#fondo-logo{
  background-image: url(../img/portada2.jpg);
}
/* edicion del logo */
#logo{
  padding-top: 1.5vh;
  padding-bottom: 0.5vh;
  width: 100%;
}
/* edicion de las redes sociales */
#icono{
  padding-top: 5vh;
  padding-bottom: 1vh;
  width: 9%;
}
/* edicion para que el menu */
.nav-item{
  text-align: center;
  width: 100%;
}
.nav-item a{
  width: 100%;
  font-size: 20px;
}
.pad{
  padding: 0!important;
}
/* edicion de la imagen de dennis cruz y carl cox */
.img{
  width: 100%;
  padding-bottom: 1.5vh;
}
/* linea divisora entre una y la otra noticia */
.fin{
  padding-top: 1vh;
  padding-bottom: 2vh;
  border-bottom: 2px solid black
}
/* color del fondo donde esta el buscador y posibles artistas */
#color-derecho{
  background-color: gray;
}
/* edicion del buscador */
.buscar{
  padding-top: 1.5vh;
}
/* edicion de los nombre de artistas buscado o referido */
.artistas li a{
  color: white;
  font-size: 120%;
}
.user{
  font-size: 30px;
}
/* IDEA: el primer media querry */
@media (min-width:770px) and (max-width:1100px){
  body{
    padding-left: 10%;
    padding-right: 10%;
  }
  #icono{
    width: 7%;
  }
}
/* IDEA: segundo media querry */
@media (min-width:1101px){
  #icono{
    width: 5%;
  }
  body{
    padding-left: 10%;
    padding-right: 10%;
  }
}
