body{
  background-color: black;
}
.logotipo{
  width: 20vh;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}
.iconos{
  margin-left: 1vh;
  width: 4vh;
}
header{
  background-image: url(../img/portada.jpg);
  padding: 3vh;
}
.nav-nav{
  background-color: gray;
}
a{
  font-size: 25px;
  color: white;
}
.none{
  margin-left: 0 !important;
}
.contenido{
  background-color: white;
}

.imagen1{
  width: 100%;
}
.imagen2{
  width: 100%;
  margin-top: 2.8%;
  margin-left: 2%;
}
.imagen3{
  padding-left: 1vh;
  padding-top: 1vh;
}
.busqueda{
  background-color: gray;
  color: white;
}
.lupa{
  width: 3vh;
}
#input{

}
.cont{
  background-color: black;
}
@media (min-width: 1090px) {
body{
  padding-left: 10%;
  padding-right: 10%;
}
}
@media (min-width: 520px;) {
  
}
